$main-color:          #e7e6e6; //светло-серый
$second-color:        #9cd2e5; //голубой
$third-color:         #f3becf; //розовый
$fourth-color:        #eaac00; //жёлтый

$light-grey:          #dedede;
$grey:                #707070;

$sale-color:          #c8c290;
$banner-btn-color:    #ffff00;

$font-family:         Poppins, Helvetica Neue, sans-serif;
