$main-color:          #E7E6E6; //серый
$second-color:        #9CD2E5; //голубой
$third-color:         #F3BECF; //розовый

$banner-btn-color:    #ffff00;

$font-family:         Poppins, Helvetica Neue, sans-serif;
