.sale {
  padding-top: 88px;

  &__container {
    margin: 0 auto;
    width: 1200px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 600;
  }

  &__card-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    .product-card-wrap {
      padding: 24px 20px;
      width: 25%;
    }
  }
}
